.nav-menu {
  color: var(--clr-primary-50);
}

.nav-menu__top,
.nav {
  padding: 0.5em 1em;
  background-color: var(--clr-primary-400);
  width: 100%;
}

.nav-menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.nav {
  transform: translateY(-100%);
  transition: all 0.3s ease-out;
}

.nav--show {
  transform: translateY(0);
}

.nav__item {
  margin-bottom: 1em;
}
